# Framework Principal
Django
djangorestframework

# Autenticação e Autorização
dj-rest-auth
django-allauth
djangorestframework-simplejwt

# Utilitários da API
django-filter
django-cors-headers

# Manipulação de Imagens
Pillow

# Servir arquivos estáticos em produção
whitenoise